// update index
@forward 'hero';
@forward 'button';
@forward 'brand';
@forward 'step';
@forward 'common';
@forward 'video';
@forward 'service';
@forward 'project';
@forward 'price';
@forward 'faq';
@forward 'text-slide';
@forward 'testimonial';
@forward 'blog';
@forward 'footer';
@forward 'header';
@forward 'about';
@forward 'fact';
@forward 'choose';
@forward 'instagram';
@forward 'banner';
@forward 'cetegory';
@forward 'product';
@forward 'featured';
@forward 'dark';