@use '../../../utils' as *;
/*----------------------------------------*/
/*   3.2 Feature Style
/*----------------------------------------*/

.cst-feature{
    &-ptb{
        @media #{$sm,$xs} {
            padding-bottom: 80px;
        }
    }
    &-top{
        padding-top: 80px;
        border-top: 1px solid rgba($color: #050312, $alpha: 0.06);
    }
    &-item{
        gap: 24px;
        display: flex;
        align-items: center;
        &-icon{
            & span{
                display: inline-grid;
                place-content: center;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                text-align: center;
                background-color: var(--tp-common-white);
            }
        }
        &-title{
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: var(--tp-common-black-7);
            font-family: var(--tp-ff-phudu);
        }
        &-content{
            & p{
                font-size: 15px;
                @media #{$xl,$lg,$md,$sm,$xs} {
                    & br{
                        display: none;
                    }
                }
            }
        }
    }
    &-text{
        font-size: 16px;
        font-weight: 500;
        color: #61616A;
        line-height: 1.5;
        font-family: var(--tp-ff-inter);
        & span{
            font-size: 13px;
            font-weight: 600;
            padding: 7px 16px;
            margin-right: 5px;
            border-radius: 30px;
            text-transform: uppercase;
            color: var(--tp-common-black-7);
            background-color: var(--tp-theme-primary);
            box-shadow: 0 20px 40px 0 rgba(180, 231, 23, 0.10);
        }
        & a{
            position: relative;
            color: var(--tp-common-black-7);
            &::before{
                position: absolute;
                content: '';
                height: 1px;
                width: 100%;
                bottom: -3px;
                left: 0;
                background-color: var(--tp-common-black-7);
            }
        }
    }
}

.cnt-plan{
    &-ptb{
        @media #{$lg,$md} {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        @media #{$sm,$xs} {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    &-box{
        padding-top: 24px;
        border-top: 1px solid rgba(20, 20, 20, 0.10);
        @media #{$md,$sm,$xs} {
            padding-top: 0;
            border: none;
            padding-bottom: 40px;
        }
    }
    &-heading{
        @media #{$md,$sm,$xs} {
            margin-bottom: 30px;
        }
    }
    &-item{
        &-title{
            position: relative;
            font-size: 24px;
            font-weight: 500;
            color: var(--tp-common-black-7);
            font-family: var(--tp-ff-clash-medium);
            &::before{
                width: 12px;
                height: 12px;
                content: '';
                top: -30px;
                left: 50%;
                position: absolute;
                border-radius: 50%;
                display: inline-block;
                transform: translateX(-50%);
                background-color: var(--tp-common-black-7);
                @media #{$md,$sm,$xs} {
                    display: none;
                }
            }
        }
        & p{
            color: rgba($color: #050312, $alpha: 0.6);
            font-family: var(--tp-ff-inter);
            font-size: 18px;
            & br{
                @media #{$lg,$md,$sm,$xs} {
                    display: none;
                }
            }
        }
    }
}


.ais-feature{
    &-ptb{
        @media #{$md,$sm,$xs} {
            padding-bottom: 80px;
        }
    }
    &-shape{
        top: 20%;
        right: 12%;
        position: absolute;
        @media #{$lg} {
            right: 5%;
        }
        @media #{$md,$sm,$xs} {
            display: none;
        }
    }
    &-item{
        &.app-feature-item{
            & .app-feature-title{
                font-weight: 500;
                font-family: var(--tp-ff-inter);
                @media #{$lg,$xs} {
                    font-size: 20px;
                }
            }
        }
        &-btn{
            & a{
                font-size: 14px;
                font-weight: 500;
                display: inline-block;
                color: var(--tp-common-black-7);
                font-family: var(--tp-ff-inter);
                & span{
                    margin-left: 4px;
                    display: inline-block;
                    transform: translateY(0px);
                }
            }
        }
    }
}

.app-feature-bottom{
    & p{
        & span{
            &.bg-blue{
                color: var(--tp-common-white);
                border-color: var(--tp-common-blue-2);
                background-color: var(--tp-common-blue-2);
            }
        }
    }
}


.app-feature{
    &-border-style{
        & .row{
            [class*="col-"]{
                &:first-child{
                    & .app-feature-item{
                        border-radius: 24px 0 0 24px;
                        @media #{$md,$sm,$xs} {
                            border-radius: 0;
                        }
                    }
                }
                &:last-child{
                    & .app-feature-item{
                        border-radius: 0px 24px 24px 0px;
                        @media #{$md,$sm,$xs} {
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }
    &-heading{
        & p{
            color: #61616A;
        }
    }
    &-item{
        padding: 50px 40px 30px;
        background-color: #EEEFF8;
        @media #{$sm,$xs} {
            padding: 50px 30px 30px;
        }
        &-icon{
            margin-bottom: 35px;
        }
        &-content{
            & p{
                font-size: 15px;
                color: #61616A;
                font-family: var(--tp-ff-inter);
                & br{
                    @media #{$lg,$xs} {
                        display: none;
                    }
                }
            }
        }
    }
    &-title{
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: var(--tp-common-black);
    }
    &-bottom{
        & p{
            margin: 0;
            font-size: 16px;
            color: #61616A;
            display: inline-block;
            font-family: var(--tp-ff-inter);
            @media #{$sm} {
                font-size: 16px;
            }
            @media #{$sm,$xs} {
                font-size: 14px;
            }
            & span{
                font-weight: 600;
                padding: 4px 17px;
                margin-right: 10px;
                border-radius: 30px;
                color: var(--tp-common-black);
                border: 1px solid rgba(0, 0, 0, 0.10);
                background-color: var(--tp-common-white);
                box-shadow: 0px 20px 40px 0px rgba(33, 33, 45, 0.10);
            }
            & a{
                font-weight: 500;
                text-decoration: underline;
                color: var(--tp-common-black);
            }
        }
    }
}