@use '../../../utils' as *;
/*----------------------------------------*/
/*   3.2 light Style
/*----------------------------------------*/

.aleric-light{
    & .ais-brand-blur img {
        filter: invert(1);
    }
}