/* HEADER CSS */
@forward 'header';
@forward 'hero';
@forward 'common';
@forward 'about';
@forward 'feature';
@forward 'video';
@forward 'service';
@forward 'portfolio';
@forward 'testimonial';
@forward 'faq';
@forward 'cta';
@forward 'brand';
@forward 'team';
@forward 'blog';
@forward 'footer';
@forward 'button';
@forward 'awards';
@forward 'text-slider';
@forward 'dark';
@forward 'light';